<%= form_with model:@customer, local:true do |f| %>
         <div class="field">
    <%= f.label :名前%><br />
    <%= f.label :（姓） %><%= f.text_field :first_name %><%= f.label :（名）%><%= f.text_field :last_name %>
  </div>
    
  <div class="field">
      <%= f.label :フリガナ%><br />
      <%= f.label :（セイ） %><%= f.text_field :first_name_kana %><%= f.label :（メイ）%><%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス%><br />
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :郵便番号（ハイフンなし）%><br />
    <%= f.text_field :zip_code %>
  </div>
  
  <div class="field">
    <%= f.label :住所%><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし）%><br />
    <%= f.text_field :telephone_number %>
  </div>


  <%= f.submit "編集内容を保存" %>
<% end %>

<%= link_to "退会する", customers_unsubscribe_path %>
  