<h1>アドミンのカスタマーのエディットページ。管理者が会員情報編集できるよーの</h1>
<!--バリデーションのエラーメッセージ表示-->
<% if @customer.errors.any? %>
  <div class="error">
    <h3><%= @customer.errors.count %> errors prohibited this obj from being saved</h3>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <!--会員のフルネームを表示-->
<h2><%= @customer.full_name %>さんの会員情報編集</h2>
  <!--会員の詳細情報の編集画面を表示-->
 <%= form_with(model: @customer, url:admin_customer_path, local: true ,method: :patch) do |f| %>
  <p>
    会員ID            <%= @customer.id %>
  </p>
  <p>
   <%= f.label :"氏名" %>
   <%= f.text_field :first_name %>  <%= f.text_field :last_name %>
  </p>
  <p>
   <%= f.label :"フリガナ" %>
   <%= f.text_field :first_name_kana %>  <%= f.text_field :last_name_kana %>
  </p>
  <p>
    <%= f.label :"郵便番号" %>
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :"住所" %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :"電話番号" %>
    <%= f.text_field :telephone_number %>
  </p>
  <p>
    <%= f.label :"メールアドレス" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <!--退会ステータス退会・有効に変更する-->
    <%= f.label :"会員ステータス" %>
  　　<%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, "退会" %>
      <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, "有効" %>
  </p>
  <!--編集を保存-->
  <nav><%= f.submit '変更を保存' %></nav>
  <% end %>
</div>
