<div class="container">
<%#= form_with(model: @shipping_addresses, url:shipping_addresses_path, local: true) do |f| %>
<%#= form_with model: @shipping_addresses, url:shipping_addresses_path, local: true do |f| %>
    <h1>配送先編集</h1>
    <%= form_with model: @shipping_address, url: address_path, local:true do |f| %>
    <table>
        
          <th>
          <%= f.label :郵便番号 %>
          </th>
          
          <th>
          <%= f.text_field :zip_code %>
          </th>
          
          <th>
           <%= f.label :住所 %>
          </th>
          
          <th>
            <%= f.text_field :address %>
          </th>
          
          <th>
            <%= f.label :宛名 %>
          </th>
          
          <th>
            <%= f.text_field :recipients_name %>
          </th>
          
          <th>
            <%= f.submit "変更内容を保存", class: "btn btn-outline-primary  btn-lg" %>
          </th>
        <% end %>
    </table>
</div>