<h1>パブリックのアドレスのエディット。配送先編集ページ。</h1>
<%#= form_with(model: @shipping_addresses, url:shipping_addresses_path, local: true) do |f| %>
<%#= form_with model: @shipping_addresses, url:shipping_addresses_path, local: true do |f| %>

<%= form_with model: @shipping_address, url: address_path, local:true do |f| %>
  <%= f.label :郵便番号 %>
  <%= f.text_field :zip_code %>
   <%= f.label :住所 %>
  <%= f.text_field :address %>
  <%= f.label :宛名 %>
  <%= f.text_field :recipients_name %>
  <%= f.submit "編集オッケでーす" %>

<% end %>
