<h1>パブリックの、アイテムのインデックス。商品一覧画面</h1>

<div class="container">
  <div class="col-md-8 offset-md-1">
    <!--商品一覧何件表示-->
  　　<h2>商品一覧   (全<%= @items.count %>件)</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <!--新着を４件表示-->
            <% @items.each do |item| %>
            <tr>
              <td>
                <!--アイテム画像表示-->
                <%= link_to item_path(item.id) do %>
                  <!--アイテム画像を表示-->
                  <%= attachment_image_tag item, :image, :fill, 100, 100 %>
                <% end %>
                  <!--商品名と税抜き価格のリンク表示-->
                <p><%= link_to item.name, item_path(item.id) %></p>
                <p><%= link_to item_path(item.id) do %>
                   <%= (item.price_no_tax * 1.1).floor %> 円</p>
                   <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
  </div>
  <div>
      <!--kaminariで8件表示 -->
      <%= paginate @items %>
  </div>
</div>

