<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8 offset-md-1">
      <!--アイテムの詳細画面を表示-->
      <h2><%= @item.name %></h2>
      <table class="table table-user-show">
        <tr>
          <!--アイテム画像を表示-->
          <tb><%= attachment_image_tag @item, :image, :fill, 150, 150 %></tb>
          <td>
            <!--商品名・商品説明・税込価格を表示-->
            <h2><%= @item.name %></h2>
            <p><%= @item.description %></p>
            <p><h3>￥<%= (@item.price_no_tax * 1.1).floor %> (税込)</h3></p>
          </td>
          <!--個数選択とカート機能追加予定-->
        </tr>
      </table>
          <%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :customer_id, value: current_customer.id %>
            <%= f.select :quantity, *[1..10] %>
            <%= f.submit 'カートに入れる', class:"btn btn-success" %>
          <% end %>
    </div>
  </div>
</div>

      　
